*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient( rgb(57, 182, 84) 20%, 0%, lightgray 90%);
    background-size: cover;
    background-repeat: no-repeat;
}
html, body {
    margin: 0;
    height: 100%;
}

.header_style{ 
    padding: 8px 0px 8px 5px ;   
    background-color: rgb(245, 245, 245);
}


.contact_section{
    height: 70px;
    font-size: 13px;
    padding: 6px 15px ;
    border-top:1px solid rgb(245, 243, 243);
}

.contact_section:hover{
    background-color: rgb(245, 245, 245)
}
.contact_section.active{
    background-color: rgb(245, 245, 245)
}

.contact_section img{
    height: 50px;
    border-radius: 50%;
    padding-right: 15px;  
}

#chat_list_wrapper{
    border-right: 1px solid rgb(245, 243, 243);
    height: 700px;
    min-width: 232px;
}
#profile_header img,
#chat img{
    height: 40px;
    border-radius: 50%;     
}
#notification_activator{
    font-size: 14px;
    background-color: lightskyblue;
}
#search_bar{
    background-color: white;
    margin: 4px 0px;
}

#search_bar i{
    padding: 5px 12px;
    border-right: 1px solid lightgray;
}

#search_bar input{
    border: none;
    width: 80%;
}

#chat{
    position: relative;
    background-image: url("file:///C:/Users/cicci/Documents/vue-boolzapp/img/mine.jpg");
}

#chat_footer{
    height: 50px;
    width: 100%;
    color: rgb(121, 121, 121);
    background-color: blanchedalmond;
    position: absolute;
    bottom: 0;  
}


