*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient( rgb(0, 150, 136) 20%, 0%, rgb(218, 219, 212) 90%);
    background-size: cover;
    background-repeat: no-repeat;
}
html, body {
    margin: 0;
    height: 100%;
}

.header_style{ 
    padding: 8px 0px 8px 5px ;   
    background-color: rgb(234, 234, 234);
}


.contact_section{
    height: 70px;
    font-size: 13px;
    padding: 6px 15px ;
    border-top:1px solid rgb(245, 243, 243);
}

.contact_section:hover{
    background-color: rgb(233, 235, 235)
}
.contact_section.active{
    background-color: rgb(233, 235, 235)
}

.contact_section img{
    height: 50px;
    border-radius: 50%;
    padding-right: 15px;  
}

.box_recived{
    background-color: rgb(255, 255, 255) ;
}

.box_send{
    background-color: rgb(213, 249, 186) ;
}

#content-wrapper{
    min-width: 748px;
}

#chat_list_wrapper{
    border-right: 1px solid rgb(245, 243, 243);
    height: 700px;
    min-width: 232px;
}
#profile_header img,
#chat img{
    height: 40px;
    border-radius: 50%;     
}


#profile_header .user_name{
    font-size: 14px;
}

#notification_activator{
    font-size: 14px;
    background-color: lightskyblue;
}
#search_bar{
    background-color: white;
    margin: 4px 0px;
}

#search_bar i{
    padding: 5px 12px;
    border-right: 1px solid lightgray;
}

#search_bar input{
    border: none;
    width: 80%;
}

#chat{
    min-width: 464px;
    position: relative;
    background-image: url("file:///C:/Users/cicci/Documents/vue-boolzapp/img/mine.jpg");
}

#chat_header p{
    color: rgb(121, 121, 121);
    font-size: 10px;
}

#chat_body{  
    margin: 0 auto;
    
}

#chat_body .box{
    max-width: 45%;
    border-radius: 10px;
    padding: 8px 15px;
    margin: 15px 20px;
    font-size: 0.9em;
}

#chat_body .recived{
    background-color: rgb(255, 255, 255);
    max-width: 45%;
}

#chat_body .send{
    background-color: rgb(213, 249, 186);
    position: absolute;
    right: 0;
   
}

#chat_body .time{
    font-size: 11px;
    color: rgb(195, 198, 199) ;
    text-align: end;
    display: block;
}

#chat_footer{
    height: 65px;
    width: 100%;
    font-size: 20px;
    background-color: rgb(243, 238, 234);
    position: absolute;
    bottom: 0;  
}

#chat_footer input{
    font-size: 15px;
    border-radius: 15px;
    padding: 3px;
}

.my_gray{
    color: rgb(121, 121, 121);
}
